---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>¡Bienvenido!</h1><p>
    Gracias por registrarte. En breve recibirás más información.
  </p><img src='https://i.ibb.co/v4gq6f6/image.png' />
  <button>
    <a href='https://www.instagram.com/luciamartinezbienestar/'>
      mi instagram
    </a>
  </button>
</Layout>
