---
import Iframe from "@/components/Iframe.astro";
import Title from "@/components/Title.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title='Reset a la Matrix' isHome={true}>
  <!-- Video de fondo estático -->
  <div class='fixed inset-0 z-0 pointer-events-none'>
    <video
      class='w-full h-full object-cover opacity-10 brightness-50'
      autoplay
      loop
      muted
      playsinline
    >
      <source src='/videos/tv-static.mp4' type='video/mp4' />
    </video>
    <div
      class='absolute inset-0 bg-[radial-gradient(circle_at_50%_50%,rgba(139,92,246,0.05),transparent_70%)]'
    >
    </div>
  </div>

  <main
    class='flex flex-col items-center px-4 max-w-7xl mx-auto min-h-[calc(100vh-10rem)]'
  >
    <div class='container mx-auto text-center'>
      <div class='max-w-7xl mx-auto'>
        <p class='text-lg lg:text-2xl mb-8 text-gray-300 font-light'>
          La comunidad exclusiva de seres <span
            class='text-purple-400 font-bold'>CONSCIENTES</span
          > que ya están creando su propia realidad, más allá del sistema y su programación
          limitante.Esto no es un curso más. Es una guía de <span
            class='text-purple-400 font-bold'>TRANSFORMACIÓN INTERIOR</span
          >, un portal hacia tu verdadero <span
            class='text-purple-400 font-bold'>DESPERTAR ESPIRITUAL</span
          >.
        </p>
      </div>
    </div>
    <div class='relative z-10 text-center space-y-12 w-full'>
      <div class='w-full max-w-5xl mx-auto'>
        <Iframe />
      </div>
      <p class='text-lg lg:text-2xl mb-8 text-gray-300 font-light pb-8 italic'>
        Estás a un solo paso de recordar el <span
          class='text-purple-400 font-bold'>PODER</span
        > que sos, reconectar con tu <span class='text-purple-400 font-bold'
          >PROPÓSITO</span
        > y manifestarlo con éxito en tu salud, economía, relaciones y vida profesional.
      </p>
      <div>
        <a
          href='/membresia'
          class='group relative px-8 py-6 text-lg lg:text-2xl lg:py-8 lg:px-12 bg-transparent text-purple-400 border-2 border-purple-400 rounded-lg font-bold cursor-pointer overflow-hidden transition-all duration-300 hover:bg-purple-400 hover:text-gray-900'
        >
          <span class='relative z-10'>Entrá ahora y empezá tu reset.</span>
          <div
            class='absolute inset-0 bg-purple-400 transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-left'
          >
          </div>
        </a>
      </div>
    </div>
  </main>
</Layout>
