---
import Iframe from "@/components/Iframe.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main
    class='flex flex-col items-center justify-center pt-20 max-w-7xl mx-auto text-secondary gap-6 text-center'
  >
    <h1 class='text-primary text-5xl lg:text-7xl font-bold'>
      Reset a la matrix
    </h1>
    <Iframe />
    <p class='text-center text-lg'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim culpa
      animi perspiciatis, accusantium quidem. Quibusdam rerum nesciunt, iste,
      accusantium repellendus molestias in doloribus, consequuntur non
      reprehenderit laboriosam optio impedit?
    </p>
  </main>
</Layout>
