---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class='flex flex-col gap-4 text-center items-center'>
    <h1 id='register' class={`text-primary text-4xl`}>
      Gracias por registrarte
    </h1>
    <h2 class='text-2xl'>Tenemos regalos para vos</h2>
  </div>
</Layout>
