---
import PointLearning from "./PointLearning.astro";
---

<div>
  <h2
    class='mb-8 text-3xl font-bold text-center text-white sm:text-4xl md:text-5xl lg:text-6xl'
    style='text-shadow: 
    0 0 2px #801FC6, 
    0 0 4px #801FC6, 
    0 0 8px #801FC6, 
    0 0 12px #801FC6, 
    0 0 16px #801FC6'
  >
    Esta Masterclass es para
  </h2>
  <ul class='flex flex-col gap-4 mt-4 text-left'>
    <li>
      <PointLearning title='🔹 Buscadores de la verdad y conciencia expandida'>
        Personas que sienten que hay una realidad oculta detrás del sistema y
        quieren descubrir cómo opera realmente la Matrix para salir de su
        influencia.
      </PointLearning>
    </li>
    <li>
      <PointLearning
        title='🔹 Emprendedores espirituales y profesionales del bienestar'
      >
        Coaches, terapeutas holísticos, guías espirituales y emprendedores
        conscientes que desean monetizar su propósito sin depender del sistema
        tradicional.
      </PointLearning>
    </li>
    <li>
      <PointLearning
        title='🔹 Personas atrapadas en un estilo de vida que no resuena con ellas'
      >
        Quienes sienten que el trabajo, la rutina o el sistema los mantiene en
        una baja frecuencia y quieren herramientas para romper con esas
        estructuras.
      </PointLearning>
    </li>
    <li>
      <PointLearning title='🔹 Seres en proceso de despertar espiritual'>
        Aquellos que han comenzado a cuestionar la narrativa impuesta por la
        sociedad y buscan formas de elevar su vibración y vivir en alineación
        con su esencia.
      </PointLearning>
    </li>
    <li>
      <PointLearning
        title='🔹 Individuos que quieren aprender a elevar y sostener su energía'
      >
        Personas que buscan mejorar su bienestar físico, mental y energético,
        liberarse de bloqueos y conectar con su verdadera misión de vida.
      </PointLearning>
    </li>
  </ul>
</div>
