---
import PointLearning from "./PointLearning.astro";
---

<div>
  <h2
    class='mb-8 text-3xl font-bold text-center text-white sm:text-4xl md:text-5xl lg:text-6xl'
    style='text-shadow: 
    0 0 2px #801FC6, 
    0 0 4px #801FC6, 
    0 0 8px #801FC6, 
    0 0 12px #801FC6, 
    0 0 16px #801FC6'
  >
    Esta Masterclass es para
  </h2>
  <ul class='flex flex-col gap-4 mt-4 text-left list-none'>
    <li>
      <PointLearning title='游댳 Buscadores de la verdad y conciencia expandida'>
        Personas que sienten que hay una realidad oculta detr치s del sistema y
        quieren descubrir c칩mo opera realmente la Matrix para salir de su
        influencia.
      </PointLearning>
    </li>
    <li>
      <PointLearning
        title='游댳 Emprendedores espirituales y profesionales del bienestar'
      >
        Coaches, terapeutas hol칤sticos, gu칤as espirituales y emprendedores
        conscientes que desean monetizar su prop칩sito sin depender del sistema
        tradicional.
      </PointLearning>
    </li>
    <li>
      <PointLearning
        title='游댳 Personas atrapadas en un estilo de vida que no resuena con ellas'
      >
        Quienes sienten que el trabajo, la rutina o el sistema los mantiene en
        una baja frecuencia y quieren herramientas para romper con esas
        estructuras.
      </PointLearning>
    </li>
    <li>
      <PointLearning title='游댳 Seres en proceso de despertar espiritual'>
        Aquellos que han comenzado a cuestionar la narrativa impuesta por la
        sociedad y buscan formas de elevar su vibraci칩n y vivir en alineaci칩n
        con su esencia.
      </PointLearning>
    </li>
    <li>
      <PointLearning
        title='游댳 Individuos que quieren aprender a elevar y sostener su energ칤a'
      >
        Personas que buscan mejorar su bienestar f칤sico, mental y energ칠tico,
        liberarse de bloqueos y conectar con su verdadera misi칩n de vida.
      </PointLearning>
    </li>
  </ul>
</div>
