---
const { title, subtitle } = Astro.props;
---

<div class='flex flex-col gap-4'>
  <h1
    class={`text-primary text-5xl sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl`}
  >
    {title}
  </h1>
  <h2 class={`text-white text-ms lg:text-xl xl:text-2xl`}>
    Registrate a este <span class='font-bold'>EVENTO ONLINE</span> para aprender
    a cómo liberarte del sistema antes de que siga limitando tu potencial, elevar
    tu frecuencia y vivir de tu propósito de vida.
  </h2>
</div>
