---
import clientData from "../data/config";

const { history } = clientData;
---

<div
  class='flex flex-col sm:flex-row items-center justify-center space-y-4 gap-4'
>
  <div
    class='flex flex-col w-[400px] sm:w-[600px] text-xs sm:text-xl md:text-2xl lg:text-3xl p-10'
  >
    <h1>{history.title}</h1>
    <p>
      {history.text}
    </p>
  </div>
</div>
<img src={history.image} alt='' class='h-[200px]' />
