---
const { title } = Astro.props;
---

<div
  class='relative flex flex-col justify-center items-start gap-4 text-white bg-gradient-to-r from-[#3A125A]/80 to-[#2C0A4A]/80 hover:from-[#4B166E]/90 hover:to-[#381259]/90 transition-all duration-300 rounded-xl p-6 shadow-lg'
>
  <!-- Línea decorativa -->
  <div class='absolute top-0 left-4 w-10 h-1 bg-[#A85FE8] rounded-full'></div>

  <h3
    class='text-lg font-semibold leading-snug sm:text-xl md:text-2xl lg:text-3xl'
  >
    {title}
  </h3>
  <p class='text-base md:text-xl lg:text-2xl leading-relaxed text-[#D9B3FF]'>
    <slot />
    <!-- Detalle adicional al pasar el mouse -->
    <div
      class='absolute inset-0 bg-gradient-to-r from-[#A85FE8]/10 via-transparent to-[#A85FE8]/10 rounded-xl opacity-0 hover:opacity-100 transition-opacity duration-300'
    >
    </div>
  </p>
</div>
