---
import PointLearning from "./PointLearning.astro";
---

<div>
  <h2
    class='mb-8 text-3xl font-bold text-center text-white sm:text-4xl md:text-5xl lg:text-6xl'
    style='text-shadow: 
    0 0 2px #801FC6, 
    0 0 4px #801FC6, 
    0 0 8px #801FC6, 
    0 0 12px #801FC6, 
    0 0 16px #801FC6'
  >
    Lo que te llevarás
  </h2>
  <ul class='flex flex-col gap-4 mt-4 text-left list-none'>
    <li>
      <div
        class='relative flex flex-col justify-center items-start gap-4 text-white bg-gradient-to-r from-[#3A125A]/80 to-[#2C0A4A]/80 hover:from-[#4B166E]/90 hover:to-[#381259]/90 transition-all duration-300 rounded-xl p-6 shadow-lg'
      >
        <!-- Línea decorativa -->
        <div class='absolute top-0 left-4 w-10 h-1 bg-[#A85FE8] rounded-full'>
        </div>
        <h3
          class='text-lg font-semibold leading-snug sm:text-xl md:text-2xl lg:text-3xl'
        >
          ✅ Entenderás el verdadero escenario en el que nos encontramos
        </h3>
      </div>
    </li>
    <li>
      <div
        class='relative flex flex-col justify-center items-start gap-4 text-white bg-gradient-to-r from-[#3A125A]/80 to-[#2C0A4A]/80 hover:from-[#4B166E]/90 hover:to-[#381259]/90 transition-all duration-300 rounded-xl p-6 shadow-lg'
      >
        <!-- Línea decorativa -->
        <div class='absolute top-0 left-4 w-10 h-1 bg-[#A85FE8] rounded-full'>
        </div>
        <h3
          class='text-lg font-semibold leading-snug sm:text-xl md:text-2xl lg:text-3xl'
        >
          ✅ Aprenderán a elevar y mantener su energía en alta frecuencia de
          manera constante.
        </h3>
      </div>
    </li>
    <li>
      <div
        class='relative flex flex-col justify-center items-start gap-4 text-white bg-gradient-to-r from-[#3A125A]/80 to-[#2C0A4A]/80 hover:from-[#4B166E]/90 hover:to-[#381259]/90 transition-all duration-300 rounded-xl p-6 shadow-lg'
      >
        <!-- Línea decorativa -->
        <div class='absolute top-0 left-4 w-10 h-1 bg-[#A85FE8] rounded-full'>
        </div>
        <h3
          class='text-lg font-semibold leading-snug sm:text-xl md:text-2xl lg:text-3xl'
        >
          ✅ Descubrirán cómo hackear el sistema corrupto desde dentro
          utilizando su Ikigai.
        </h3>
      </div>
    </li>
    <li>
      <div
        class='relative flex flex-col justify-center items-start gap-4 text-white bg-gradient-to-r from-[#3A125A]/80 to-[#2C0A4A]/80 hover:from-[#4B166E]/90 hover:to-[#381259]/90 transition-all duration-300 rounded-xl p-6 shadow-lg'
      >
        <!-- Línea decorativa -->
        <div class='absolute top-0 left-4 w-10 h-1 bg-[#A85FE8] rounded-full'>
        </div>
        <h3
          class='text-lg font-semibold leading-snug sm:text-xl md:text-2xl lg:text-3xl'
        >
          ✅ Obtendrán claridad en su misión de vida y propósitos espirituales.
        </h3>
      </div>
    </li>
    <li>
      <div
        class='relative flex flex-col justify-center items-start gap-4 text-white bg-gradient-to-r from-[#3A125A]/80 to-[#2C0A4A]/80 hover:from-[#4B166E]/90 hover:to-[#381259]/90 transition-all duration-300 rounded-xl p-6 shadow-lg'
      >
        <!-- Línea decorativa -->
        <div class='absolute top-0 left-4 w-10 h-1 bg-[#A85FE8] rounded-full'>
        </div>
        <h3
          class='text-lg font-semibold leading-snug sm:text-xl md:text-2xl lg:text-3xl'
        >
          ✅ Desparasitarás y renovarás tu ser en todos los niveles: físico,
          mental, energético y espiritual.
        </h3>
      </div>
    </li>
  </ul>
</div>
