<h1 class='text-2xl font-bold text-center sm:text-3xl md:text-4xl'>
  Algunas de las <span class='font-bold text-primary'>Cientos </span> de personas
  que han saliendo de la <span class='text-green-600'>Matrix</span>
</h1>

<div
  class='flex flex-col md:flex-row items-center justify-center gap-10 p-10 text-center'
>
  <div class='flex flex-col items-center justify-center gap-10'>
    <iframe
      width='154'
      height='274'
      src='https://www.youtube.com/embed/sVBJ4-IVqHM'
      title='Las Escaleras Mágicas De Suecia'
      frameborder='0'
      allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
      referrerpolicy='strict-origin-when-cross-origin'
      allowfullscreen></iframe>
    <h2>Las Escaleras Mágicas De Suecia</h2>
  </div>
  <div class='flex flex-col items-center justify-center gap-10'>
    <iframe
      width='154'
      height='274'
      src='https://www.youtube.com/embed/sVBJ4-IVqHM'
      title='Las Escaleras Mágicas De Suecia'
      frameborder='0'
      allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
      referrerpolicy='strict-origin-when-cross-origin'
      allowfullscreen></iframe>
    <h2>Las Escaleras Mágicas De Suecia</h2>
  </div>
  <div class='flex flex-col items-center justify-center gap-10'>
    <iframe
      width='154'
      height='274'
      src='https://www.youtube.com/embed/sVBJ4-IVqHM'
      title='Las Escaleras Mágicas De Suecia'
      frameborder='0'
      allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
      referrerpolicy='strict-origin-when-cross-origin'
      allowfullscreen></iframe>
    <h2>Las Escaleras Mágicas De Suecia</h2>
  </div>
</div>
