---
import PointLearning from "./PointLearning.astro";
---

<div>
  <h2
    class='mb-8 text-3xl font-bold text-center text-white sm:text-4xl md:text-5xl lg:text-6xl'
    style='text-shadow: 
    0 0 2px #801FC6, 
    0 0 4px #801FC6, 
    0 0 8px #801FC6, 
    0 0 12px #801FC6, 
    0 0 16px #801FC6'
  >
    Que aprenderás
  </h2>
  <ul class='flex flex-col gap-4 mt-4 text-left list-none'>
    <li>
      <PointLearning title='👨‍💻 La Matrix y el sistema en tu contra '>
        Qué es realmente la Matrix y por qué el sistema no está diseñado para tu
        libertad, sino para mantenerte atrapado.
      </PointLearning>
    </li>
    <li>
      <PointLearning title='👁‍🗨 El Ikigai como clave para la liberación'>
        Cómo encontrar y monetizar tu propósito de vida para desconectar de la
        frecuencia de la Matrix y vivir en plenitud.
      </PointLearning>
    </li>
    <li>
      <PointLearning title='🔍 Los verdaderos adversarios'>
        A quién nos enfrentamos en realidad y cómo operan las fuerzas que buscan
        controlar nuestra conciencia y energía.
      </PointLearning>
    </li>
    <li>
      <PointLearning title='🔓 Hackeando el sistema desde dentro'>
        Métodos prácticos para romper con las estructuras limitantes y vivir en
        alineación con tu propósito.
      </PointLearning>
    </li>
    <li>
      <PointLearning title='🧘‍♀️ Desparasitación multidimensional'>
        Te ayudo a desparasitarte física, psíquica, energética y espiritualmente
      </PointLearning>
    </li>
  </ul>
</div>
