---
import PointLearning from "./PointLearning.astro";
---

<div>
  <h2
    class='mb-8 text-2xl font-bold text-center text-purple-500 sm:text-3xl md:text-4xl'
  >
    Que aprenderás
  </h2>
  <ul class='flex flex-col gap-4 mt-4 text-left'>
    <li>
      <PointLearning>
        El Ikigai como clave para la liberación – Cómo encontrar y monetizar tu
        propósito de vida para desconectar de la frecuencia de la Matrix y vivir
        en plenitud.
      </PointLearning>
    </li>
    <li>
      <PointLearning>
        Los verdaderos adversarios – A quién nos enfrentamos en realidad y cómo
        operan las fuerzas que buscan controlar nuestra conciencia y energía.
      </PointLearning>
    </li>
    <li>
      <PointLearning>
        Hackeando el sistema desde dentro – Métodos prácticos para romper con
        las estructuras limitantes y vivir en alineación con tu propósito.
      </PointLearning>
    </li>
    <li>
      <PointLearning>
        El Ikigai como clave para la liberación – Cómo encontrar y monetizar tu
        propósito de vida para desconectar de la frecuencia de la Matrix y vivir
        en plenitud.
      </PointLearning>
    </li>
  </ul>
</div>
