<footer class='bg-background text-secondary'>
  <div class='container mx-auto px-4 py-4'>
    <p class='text-center'>
      &copy; 2025 Reset a la matrix - Todos los derechos reservados
    </p>
  </div>
</footer>
