---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import clientData from "../data/config";
const { title } = clientData;
import "../styles/global.css"; // Importa el archivo global.css
import "/node_modules/flag-icons/css/flag-icons.min.css";
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes'
    />
    <meta property='og:title' content={title} />
    <meta
      property='og:description'
      content='Reset a la Matrix, el evento que cambiará tu vida'
    />
    <meta property='og:image' content='/favicon.png' />
    <meta property='og:url' content='https://resetalamatrix.com' />
    <meta property='og:type' content='website' />

    <title>{title}</title>
    <script
      is:inline
      src='https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js'
    ></script>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css'
    />
  </head>
  <body
    class='relative flex flex-col items-center justify-center min-h-screen bg-[#0B001A]'
  >
    <!-- Imagen de fondo en la parte superior -->
    <div class='relative w-full'>
      <div
        class='absolute top-0 left-0 w-full h-[80vh] bg-cover bg-center'
        style="
          background-image: url('/matrix2.png');
          filter: opacity(0.7) brightness(0.8); /* Ajuste de opacidad y brillo */
        "
      >
      </div>
      <div
        class='absolute top-0 left-0 w-full h-[80vh] bg-gradient-to-b from-[#00000000] via-[#0B001A33] to-[#0B001A]'
      >
      </div>
    </div>

    <!-- Contenido principal -->
    <div class='relative z-10 w-full'>
      <div class='container'>
        <Header title={title} />
        <slot />
        <Footer />
      </div>
    </div>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: "Poppins", sans-serif; /* Asegúrate de incluir la fuente */
    background-color: #0b001a; /* Fondo principal */
    color: #fff;
  }
  .container {
    margin: 0 auto;
    padding: 0 16px;
    overflow: hidden;
  }
</style>
