---
import clientData from "../data/config";
const { title } = clientData;
import "../styles/global.css"; // Importa el archivo global.css
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes'
    />

    <title>{title}</title>
    <script
      is:inline
      src='https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js'
    ></script>
  </head>
  <body class='flex items-center justify-center min-h-screen bg-background'>
    <div class='w-full'>
      <div class='container'>
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: "Poppins", sans-serif; /* Asegúrate de incluir la fuente */
    background-color: #000; /* Fondo negro */
    color: #fff;
  }
  .container {
    margin: 0 auto;
    padding: 0 16px;
    overflow: hidden;
  }
  h1 {
    font-family: "Audiowide", cursive;
  }
</style>
